version: "3.8"
services:
  postgres:
    image: postgres:15
    container_name: forex_postgres
    restart: always
    environment:
      POSTGRES_USER: forex_user
      POSTGRES_PASSWORD: forex_pass
      POSTGRES_DB: forex_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - forex_net

  pgadmin:
    image: dpage/pgadmin4
    container_name: forex_pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin123
    ports:
      - "5050:80"
    depends_on:
      - postgres
    networks:
      - forex_net

volumes:
  postgres_data:

networks:
  forex_net:
    driver: bridge
